<div class="container check" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div class="logo">
            <ul>
                <li>B</li>
                <li>e</li>
                <li>e</li>
                <li>r</li>
                <li>B</li>
                <li>E</li>
                <li>S</li>
                <li>T</li>
            </ul>
        </div>
        <div class="question">
            <h2>Are you over 18?</h2>
        </div>
        <div class="question" fxLayout="row" fxLayoutGap="10px">
            <button mat-stroked-button routerLink="/beers">Yes</button>
            <button mat-stroked-button routerLink="/for-kids">No</button>
        </div>
    </div>
</div>
